body {
    background-color: black;
    color: white;
}

.cmp-calculator {
    max-width: 1000px;
    margin-inline: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width:768px) {
        padding-inline: 15px;
    }

    .cmp-calculator__block {
        padding-inline: 15px;

        p {
            text-align: center;
        }
        input {
            width: 100%;
            text-align: center;
            padding: 4px 3px;
            font-size: 24px;
            border-radius: 5px;
        }
    }

    .cmp-calculator__output {
        grid-column: 1 / -1;
        margin-top: 30px;
        background-color: #4F6AD6;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 400px;
        margin-inline: auto;
        width: 100%;
        border-radius: 15px;
    }
}
