h1 {
  color: chocolate;
}

.hidden {
  display: none;
}

.visible {
  display: block !important;
}

.light-mode,
.dark-mode {
  position: relative;
}

body:has(.light-mode) {
    background-color: white;
}
body:has(.dark-mode) {
    background-color: black;

    h3, p {
        color: white;
    }
}

.light-mode::before {
  content: "";
  background-image: url("../assets/dark-mode.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 32px;
  cursor: crosshair;
}

.dark-mode::before {
  content: "";
  background-image: url("../assets/light-mode.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 32px;
  cursor: crosshair;
}
